<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">GSC@44444</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/BestBuyDB</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="neu/edu/entity/Person.hbm.xml" />
        <mapping resource="neu/edu/entity/CustomerTable.hbm.xml" />
        <mapping resource="neu/edu/entity/SellerTable.hbm.xml" />
        <mapping resource="neu/edu/entity/OrderProductTable.hbm.xml" />
        <mapping resource="neu/edu/entity/PaymentInformationTable.hbm.xml" />
        <mapping resource="neu/edu/entity/ProductTable.hbm.xml" />
        <mapping resource="neu/edu/entity/AddressTable.hbm.xml" />
        <mapping resource="neu/edu/entity/OrderTable.hbm.xml" />
        <mapping resource="neu/edu/entity/AdminTable.hbm.xml" />
    </session-factory>
</hibernate-configuration>
